.container-fluid
  .row
    %h2 Profile
  .row
    .col-md-12
      = form_for(@doctor, url: doctors_profile_path(@doctor.id)) do |f|
        .row
          .col
            = f.label :name
            = f.text_field :name, class: "form-control"
          .col
            = f.label :address
            = f.text_field :address, class: "form-control"
        .row
          .col
            = f.label :gender
            %br
            = f.radio_button :gender, 'M', checked: true , class: "radio-custom" , id: "radio-1"
            %label.radio-custom-label{for: "radio-1"} Male
            = f.radio_button :gender, 'F', class: "radio-custom" , id: "radio-1"
            %label.radio-custom-label{for: "radio-1"} Female
          .col
            = f.label :phone
            = f.text_field :phone, class: "form-control"
          .col-md-6
            = f.label :qualification
            = f.text_field :qualification, class: "form-control"
        .row
          .ml-3
            %b Regular Time
            .col
              = f.fields_for :operating_hour do |oh|
                .row
                  .col
                    %label Start
                    = oh.time_field :opening_time, class: "form-control"
                  .col
                    %label End
                    = oh.time_field :closing_time, class: "form-control"
        .row
          .ml-3
            %b Occasion Available Time
            .col
              = f.fields_for :unavailables do |u|
                = render 'unavailable_fields', f: u
              .links
                = link_to_add_association 'Add', f, :unavailables
        %br
        .row
          .col
            = f.submit "Update", class: "btn btn-primary"
